<h2>Change Password</h2>
<form [formGroup]="form">
  <div
    class="form-group"
    [class.has-error]="
      (oldPassword.touched && oldPassword.invalid && !oldPassword.pending)
      || (oldPassword.untouched && oldPassword.invalid && oldPassword.errors.dontMatchOldPassword)"
    [class.has-warning]="oldPassword.pending">
    <label for="oldPassword">Old Password</label>
    <input id="oldPassword" type="password" class="form-control" formControlName="oldPassword">
    <div class="alert alert-info" *ngIf="oldPassword.pending">Checking...</div>
    <div class="alert alert-danger" *ngIf="oldPassword.touched && oldPassword.invalid">
      <div *ngIf="oldPassword.errors.required">Password is required.</div>
      <div *ngIf="oldPassword.errors.minlength">Password should be mininum {{oldPassword.errors.minlength.requiredLength}} characters.</div>
      <div *ngIf="oldPassword.errors.cannotContainSpace">Password cannot contain space.</div>
      <div *ngIf="oldPassword.errors.dontMatchOldPassword">Password is incorrect.</div>
    </div>
    <div
      class="alert alert-danger"
      *ngIf="oldPassword.untouched && oldPassword.invalid && oldPassword.errors.dontMatchOldPassword">Password is incorrect.</div>
  </div>
  <div
    class="form-group"
    [class.has-error]="newPassword.touched && newPassword.invalid">
    <label for="oldPassword">New Password</label>
    <input id="oldPassword" type="password" class="form-control" formControlName="newPassword">
    <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
      <div *ngIf="newPassword.errors.required">Password is required.</div>
      <div *ngIf="newPassword.errors.minlength">Password should be mininum {{newPassword.errors.minlength.requiredLength}} characters.</div>
      <div *ngIf="newPassword.errors.cannotContainSpace">Password cannot contain space.</div>
      <div *ngIf="newPassword.errors.newPasswordMustBeDifferentFromOld">The New Password must be different from the old one</div>
    </div>
  </div>
  <div
    class="form-group"
    [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" type="password" class="form-control" formControlName="confirmPassword">
    <div class="alert alert-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">
      <div *ngIf="confirmPassword.errors.required">Password is required.</div>
      <div *ngIf="confirmPassword.errors.minlength">Password should be mininum {{confirmPassword.errors.minlength.requiredLength}} characters.</div>
      <div *ngIf="confirmPassword.errors.cannotContainSpace">Password cannot contain space.</div>
      <div *ngIf="confirmPassword.errors.confirmPasswordDoesNotMach">Password confirmation does not match</div>
    </div>
    <div
      class="alert alert-danger"
      *ngIf="confirmPassword.valid
             && form.invalid
             && form.errors
             && form.errors.passwordsShouldMatch">
      Passwords do not match
    </div>
  </div>
</form>
